body {
	background-color: #18191a;
}

.logo {
	text-align: center;
	margin-top: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.form-text {
	text-align: center;
	margin-bottom: 2rem;
}

form input,
textarea {
	margin: 1rem 0;
	padding: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
	width: 40%;
	background-color: #3a3b3c;
	border: none;
	color: #b0b3b8;
}

textarea {
	resize: none;
	font-family: inherit;
}

form input:focus,
textarea:focus {
	outline-color: #f1f1f1;
	background-color: #242526;
}

form input:hover,
textarea:hover {
	background-color: #242526;
}

form input[type="submit"]:hover {
	cursor: pointer;
}

.nav {
	margin-top: 1rem;
}

footer {
	margin-top: 4rem;
}

footer p {
	position: unset;
}

@media only screen and (max-width: 550px) {
	.form-text {
		padding: 0 2rem;
	}

	.nav {
		margin-top: 0.5rem;
	}

	.nav li {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 1000px) {
	form input,
	textarea {
		width: 70%;
	}
}
