@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*::before,
*,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", "sans-serif";
	color: #e4e6eb;
	max-width: 100%;
}

body {
	background-color: #18191a;
}

.logo {
	margin-bottom: 5rem;
}

a {
	text-decoration: none;
	color: #fff;
	transition: all 0.5s;
}

a:hover,
a li:hover {
	color: #a9abaf;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p {
	position: absolute;
	bottom: 0;
	left: 2rem;
	padding: 1rem 0;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.nav {
	display: flex;
	list-style: none;
}

.nav li {
	padding: 0 1rem;
	font-size: 1rem;
	text-transform: uppercase;
}

/* -----INDEX PAGE ----- */
.main-index {
	width: 100%;
	height: 100vh;
	background: url("./../img/bg.svg") no-repeat fixed center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-transform: uppercase;
	font-weight: 300;
}

.search {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.searchbar {
	border: none;
	width: 25rem;
	margin-top: 2rem;
	margin-bottom: 10rem;
	padding: 1rem 2rem;
	border-radius: 0.4rem;
	background-color: #242526;
	color: #e4e6eb;
}

.searchbar:focus {
	outline-color: #8e2de2;
}

.radiobtns {
	padding: 2rem 0;
	display: flex;
	font-size: 1.2rem;
}

.radiobtns input[type="radio"] {
	/* margin: 0 1.5rem; */
	margin-right: 1.5rem;
}

#name {
	margin-left: 2rem;
}

/* -----ABOUT PAGE ----- */
.main-about {
	background-color: #18191a;
	overflow: hidden;
}

.about-hero {
	height: 50vh;
	width: 100%;
	background: url("https://images.unsplash.com/photo-1542600176-8bba4e4a6cec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
		no-repeat fixed center center;
	background-size: cover;
	margin-bottom: 2rem;
}

.about-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem;
}

.about-logo {
	margin-bottom: 4rem;
	animation: fadeIn 2s;
}

.about-text {
	animation: fadeInUpBig 2s;
}

.about-text h1 {
	font-size: 1.5rem;
	padding: 1rem 0;
	margin-bottom: 1rem;
}

.about-nav {
	margin-top: 3rem;
}

.about-footer p {
	position: unset;
}

/* -----CONTACT PAGE ----- */

.contact-logo {
	text-align: center;
	margin-top: 2rem;
}

.contactform {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.form-text {
	text-align: center;
	margin-bottom: 2rem;
}

.contactform input,
textarea {
	margin: 1rem 0;
	padding: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
	width: 40%;
	background-color: #3a3b3c;
	border: none;
	color: #b0b3b8;
}

.contactform textarea {
	resize: none;
	font-family: inherit;
}

.contactform input:focus,
.contactform textarea:focus {
	outline-color: #f1f1f1;
	background-color: #242526;
}

.contactform input:hover,
.contactform textarea:hover {
	background-color: #242526;
}

.contactform input[type="submit"]:hover {
	cursor: pointer;
}

.conntact-nav {
	margin-top: 1rem;
}

.contact-footer {
	margin-top: 4rem;
}

.contact-footer p {
	position: unset;
}

/* MEDIA QUERIES */
/* -----INDEX----- */
@media only screen and (max-width: 500px) {
	.searchbar {
		width: 15rem;
	}

	.search article {
		margin: 0 0 1rem 0;
	}

	.radiobtns {
		display: flex;
		flex-direction: column;
	}

	.radiobtns input[type="radio"] {
		/* margin: 0 1.5rem; */
		margin-right: 0.2rem;
	}
}

/* -----ABOUT----- */
@media only screen and (min-width: 1100px) {
	.main-about {
		display: flex;
		width: 100%;
		min-height: 100vh;
	}

	.about-hero {
		width: 50%;
		height: auto;
		background-attachment: unset;
		margin-bottom: 0;
	}

	.about-right {
		width: 50%;
		padding: 4rem 8rem;
	}

	.about-nav {
		margin-top: 6rem;
	}

	.about-footer {
		position: unset;
	}
}

/* -----CONTACT----- */

@media only screen and (max-width: 550px) {
	.form-text {
		padding: 0 2rem;
	}

	.contact-nav {
		margin-top: 0.5rem;
	}

	.contact-nav li {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 1000px) {
	.contactform input,
	.contactform textarea {
		width: 70%;
	}
}
