main {
	background-color: #18191a;
	overflow: hidden;
}

.hero {
	height: 50vh;
	width: 100%;
	background: url("https://images.unsplash.com/photo-1556881261-e41e8db21055?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
		no-repeat fixed center center;
	background-size: cover;
	margin-bottom: 2rem;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem;
}

.logo {
	margin-bottom: 4rem;
	animation: fadeIn 2s;
}

.about-text {
	animation: fadeInUpBig 2s;
}

.about-text h1 {
	font-size: 1.5rem;
	padding: 1rem 0;
	margin-bottom: 1rem;
}

.nav {
	margin-top: 3rem;
}

footer p {
	position: unset;
}

ul {
	margin-top: 2rem;
	margin-bottom: 6rem;
}

.main-listitem {
	padding: 0.3rem 0;
}

.sources {
	animation: fadeInUpBig 2s;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1100px) {
	main {
		display: flex;
		width: 100%;
		min-height: 100vh;
	}

	.hero {
		width: 50%;
		height: auto;
		background-attachment: unset;
		margin-bottom: 0;
	}

	.text {
		width: 50%;
		padding: 4rem 8rem;
	}

	.nav {
		margin-top: 6rem;
	}

	footer {
		position: unset;
	}
}
